:root {
    /* Color Variables */
    --start-button-color: #04AA6D;
    --stop-button-color: indianred;
    --upper-panel-background-color: lightgoldenrodyellow;
    --heading-color: darkgreen;
}

body {
    font-family: Verdana;
    /* display: flex;
    flex-direction: column; */
}

.upper-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--upper-panel-background-color);
    width: 100%;
}

.heading {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    color: var(--heading-color);
    background-color: var(--upper-panel-background-color);
    margin: 0px;
}

.control-panel {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    align-items: center;
    padding: 1vw 0vw;
    /* TODO change vw to vh*/
}

.upper-control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .control-panel {
        flex-direction: column;
    }
}

.control-panel__item {
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
    /* TODO change vw to vh*/
}

.control-label {
    text-decoration: none;
    font-weight: 300;
    font-size: 1em;
    color: var(--heading-color);
}

#start-stop {
    cursor: pointer;
    background-color: var(--start-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#reset {
    cursor: pointer;
    background-color: var(--stop-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#world {
    border-style: solid;
    border-width: 2px;
    border-color: var(--stop-button-color);
}

.lower-panel {
    font-size: small;
    background-color: var(--upper-panel-background-color);
    padding: 0.5em 2em;
    text-align: justify;
}