:root {
    /* Color Variables */
    --start-button-color: #04AA6D;
    --stop-button-color: indianred;
    --upper-panel-background-color: lightgoldenrodyellow;
    --heading-color: darkgreen;
}

body {
    font-family: Verdana;
}

.upper-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--upper-panel-background-color);
    width: 100%;
}

.title {
    background-color: var(--upper-panel-background-color);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.options-icon-outer {
    background-color: #2196F3;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.options-icon {
    margin: 7px;
    width: 20px;
    filter: invert(1);
}

.options-icon-outer:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-content .dropdown-content__subheading {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.dropdown-content .dropdown-content__sublist {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dropdown-content .dropdown-content__list-element {
    margin: 2px 0px;
    width: 100%;
    background-color: lightblue;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.heading {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    color: var(--heading-color);
    background-color: var(--upper-panel-background-color);
    margin: 0px;
}

.control-panel {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    align-items: center;
    padding: 10px 0px;
}

.upper-control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.middle-control-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-top: 5px;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

@media screen and (max-width: 600px) {
    .control-panel {
        flex-direction: column;
    }
    .middle-control-panel {
        flex-direction: row;
    }
}

.control-panel__item {
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
    /* TODO change vw to vh*/
}

.control-label {
    text-decoration: none;
    font-weight: 300;
    font-size: 1em;
    color: var(--heading-color);
}

#start-stop {
    cursor: pointer;
    background-color: var(--start-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#reset {
    cursor: pointer;
    background-color: var(--stop-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.canvas-container {
    position: relative;
}

#world {
    border: 1px solid black;
}

.canvas-container .canvas-navigation-control {
    bottom: -5px;
    left: -10px;
    position: absolute;
}

.canvas-navigation-control #canvas-navigation-icon {
    border-radius: 100%;
    margin: 10px;
    background-color: lightgrey;
    height: 40px;
    width: 40px;
}

.canvas-navigation-control #canvas-navigation-checkbox {
    display: none;
}

.canvas-generation-count {
    top: 5px;
    right: 5px;
    position: absolute;
    background-color: lightgrey;
    font-size: small;
    width: 150px;
    border-radius: 1px;
    font-weight: bold;
}

.lower-panel {
    font-size: small;
    background-color: var(--upper-panel-background-color);
    padding: 0.5em 2em;
    text-align: justify;
}

.lower-panel .subheading {
    font-weight: bolder;
}