.upper-panel {
    background-color: lightgoldenrodyellow;
    margin: 1em;
    padding: 1em;
}

.heading {
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: darkgreen;
    background-color: lightgoldenrodyellow;
}

.control-panel {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
}

#start-stop {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}