:root {
    /* Color Variables */
    --start-button-color: #04AA6D;
    --stop-button-color: indianred;
    --upper-panel-background-color: lightgoldenrodyellow;
    --heading-color: darkgreen;
}

.upper-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--upper-panel-background-color);
    margin-bottom: 1em;
    padding: 1em;
}

.heading {
    text-align: center;
    text-decoration: none;
    font-family: Verdana;
    font-weight: 700;
    font-size: 2em;
    color: var(--heading-color);
    background-color: var(--upper-panel-background-color);
    margin: 0px;
}

.control-panel {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
}

.control-panel__item {
    display: flex;
    align-items: center;
}

.control-label {
    text-decoration: none;
    font-family: Verdana;
    font-weight: 300;
    font-size: 1em;
    color: var(--heading-color);
}

#start-stop {
    cursor: pointer;
    background-color: var(--start-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}

#reset {
    cursor: pointer;
    background-color: var(--stop-button-color);
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}

#world {
    border-style: solid;
    border-width: 2px;
    border-color: var(--stop-button-color);
}